@import '../../styles/variables.scss';

.nav {
    position: fixed;
    border-bottom: 1px solid black;
    width: 100%;
    top: 0;
    background-color: white;
    font-family: $font-stack;
    letter-spacing: 1.5px;

    .nav__header {
        max-width: 75%;
        margin: 0 auto;
        display: flex;
        padding: 15px;
        align-items: center;

        .nav__left{
            width: 33.333%;
            text-align: left;
            padding: 15px;

            #nav__logo{
                font-size: 20pt;
                letter-spacing: 5px;
                font-weight: bold;
            }
        }

        .nav__right{
            width: 60%;
            text-align: right;
        }

        .nav__link{
            text-decoration: none;
            margin-left: 4%;
            text-transform: uppercase;
            color: black;

            &:hover{
                text-decoration: underline;
            }

            &:active{
                font-weight: bold;
            }
        }
    }
}