@import '../src/styles/variables.scss';


.landing-section {
    height: $section-height;
    background-image: url('../src/assets/images/black.jpeg');

}

.about-section{
    height: $section-height;
    background-color: yellow;
}

.skills-section{
    height: $section-height;
    background-color: skyblue;
}

.projects-section {
    height: $section-height;
    background-color: yellow;
}

.contact-section {
    height: $section-height;
    background-color: skyblue;
}
