@import '../src/styles/variables.scss';
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");

.landing-section {
    height: $section-height;
    background-image: url('../src/assets/images/black.jpeg');


    .container {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .alt {
        // position: relative;
        // top: 100px;
        color: white;
        font-family: $font-stack;
        letter-spacing: 5px;
        margin: 50px;
        margin-top: 100px;

        span {
            color: gray;
        }

        .title {
            margin-top: 20px;
            letter-spacing: 10px;
        }
    }
}

.about-section {
    height: 80vh;
    border-bottom: $border;

    .about__p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
}

p {
    height: fit-content;
    font-size: 14pt;
    line-height: 3.3rem;
    font-family: $font-stack;
}

h2 {
    text-align: center;
    font-family: $font-stack;
    text-transform: $uppercase;
    padding-top: 40px;
    letter-spacing: 5px;
}

.skills-section {
    height: 70vh;
    border-bottom: $border;

    .icons {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    
    i {
        font-size: 85px;
        padding: 20px;
        
    }

    .second-half-icons{
        padding: 20px;
        padding-top: 40px;
    }
}

.projects-section {
    height: 330vh;
    border-bottom: $border;

    .projects__grid-1, .projects__grid-3, .projects__grid-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-left: 50px;
        height: 400px;
        width: 600px;
        border: solid black 1px;
    }
    .projects__grid-2, .projects__grid-4 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-right: 50px;
        height: 400px;
        width: 600px;
        border: solid black 1px;
    }

    img {
        height: 300px;
        width: 500px;
        border: solid black 1px;
    }
}

h4 {
    text-align: center;
    color: gray;
}

.contact-section {
    height: 50vh;
    background-color: black;

    .contact__h2 {
        color: white;
        margin-top: 0;
    }
}

