@import '../src/styles/variables.scss';

.landing-section {
    height: $section-height;
    background-image: url('../src/assets/images/black.jpeg');
    overflow: hidden;

    .container {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .alt {
        position: relative;
        top: 50px;
        color: white;
        font-family: $font-stack;
        letter-spacing: 2px;
        margin: 50px;
    }
}

.about-section{
    height: 80vh;
    background-color: yellow;
}

h2 {
    margin: $h2-margin;
    text-align: center;
}

.skills-section{
    height: 70vh;
    background-color: skyblue;
}

.projects-section {
    height: $section-height;
    background-color: yellow;
}

.contact-section {
    height: $section-height;
    background-color: skyblue;
}
